<div *ngIf="coupon">
  <p-card header="coupon {{ coupon.code }}" [style]="{ width: '360px' }">
    <div class="ui-g ui-fluid">
      <div class="ui-g-4"><label for="code">Code</label></div>
      <div class="ui-g-8">
        <input pInputText id="code" [(ngModel)]="coupon.code" />
      </div>

      <div class="ui-g-4"><label for="owner">Owner</label></div>
      <div class="ui-g-8">
        <input pInputText id="owner" [(ngModel)]="coupon.owner" />
      </div>

      <div class="ui-g-4"><label for="name">Name</label></div>
      <div class="ui-g-8">
        <input pInputText id="name" [(ngModel)]="coupon.name" />
      </div>

      <div class="ui-g-4"><label for="note">Note</label></div>
      <div class="ui-g-8">
        <input pInputText id="note" [(ngModel)]="coupon.note" />
      </div>
    </div>
    <p-footer>
      <button
        pButton
        type="button"
        style="margin-right: .25em"
        class="ui-button-info"
        (click)="add()"
        label="Add"
      ></button>
      <button
        pButton
        type="button"
        (click)="goBack()"
        style="margin-right: .25em"
        class="ui-button-info"
        label="Back"
      ></button>
    </p-footer>
  </p-card>
</div>
